<div class="container mt-5">
  <% content_for :title, "Capturar Novo Pokémon" %>

  <div class="row justify-content-center">
    <div class="col-md-6">
      
      <div class="card shadow border-0 overflow-hidden">
        
        <div class="card-header bg-success text-white text-center py-3">
          <h1 class="h3 mb-0">
            Capturar Pokémon
          </h1>
        </div>

        <div class="card-body p-4">

          <%= render "form", pokemon: @pokemon %>
        </div>

      </div>

    </div>
  </div>
</div>