<div id="<%= dom_id pokedex %>">
  <div>
    <strong>Pokedex:</strong>
    <%= pokedex.pokedex_id %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= pokedex.name %>
  </div>

  <div>
    <strong>Pk type:</strong>
    <%= pokedex.pk_type %>
  </div>

</div>
