<p style="color: green"><%= notice %></p>

<% content_for :title, "Pokedex" %>

<h1>Pokedex</h1>

<div id="pokedex">
  <% @pokedex.each do |pokedex| %>
    <%= render pokedex %>
    <p>
      <%= link_to "Show this pokedex", pokedex %>
    </p>
  <% end %>
</div>

<%= link_to "New pokedex", new_pokedex_path %>
